h1 {/*Properties of the heading*/
    color:#FFFFFF;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}
        
body {
    background-image: url('umich_1st_football.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    }
        