h1 {/*Properties of the heading - Wolverine Ticket Exchange*/
    color: yellow;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}


.bgdiv{/*Properties of the button*/
    width:600px;
    height:40px;
    border-style: none;
    border-color: white;
    border-width: 3px;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 45px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    font-variant: small-caps;
    color: rgb(0, 0, 0);
    vertical-align: center;

}

.bgdiv:hover{ /*The color of the button when the cursor is over it*/
    border-color: blue;
    color: rgb(233, 39, 39);

}

.myLogin{/*Properties of the button*/
    width:150px;
    height:40px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    font-variant: small-caps;
    color: white;
    vertical-align: center;

}

.myLogin:hover{ /*The color of the button when the cursor is over it*/
    border-color: blue;
    color: blue;

}

.myAbout{/*Properties of the button*/
    width:150px;
    height:40px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    font-variant: small-caps;
    color: white;
    vertical-align: center;

}

.myAbout:hover{ /*The color of the button when the cursor is over it*/
    border-color: blue;
    color: blue;

}

.myBox:hover{ /*The color of the button when the cursor is over it*/
    border-color: blue;
    color: blue;

}
.divlink:visited{
    text-decoration: none;
}
.divlink:link{
    text-decoration: none;
}


body{
    background-image: url("bighouse.jpeg");
    background-position: center top;
    background-size: 100%;
    background-color: black;
    background-repeat: no-repeat;
}